/*------------------ Fonts ------------------*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-cyan);
}

.home,
.home-popular,
.home-header,
.home-popular h3 {
    width: fit-content;
}


h1 {
    background-color: inherit;
}

.home {
    display: flex;
    flex-direction: row;
    background-image: url("https://images.unsplash.com/photo-1535587566541-97121a128dc5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGd1aXRhcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-size: cover;
}

.home-popular {
    padding: 25vh 8vw 15vh 3vw;
    width: 63%;
    background-position: center;
    background-repeat: no-repeat;
}

.home-popular h3 {
    text-transform: capitalize;
    margin: auto;
    margin-bottom: 25px;
    font-size: 30px;
}

.home-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.home-header h1 {
    font-size: 5.5rem;
    text-transform: capitalize;
    font-weight: 700;
}

.slider {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 1000px;
    position: relative;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li {
    width: fit-content;
    height: fit-content;
}

li img {
    border-radius: 5% / 3%;
    border: 1px solid var(--main-background);
    position: relative;
}

.slider-prev,
.slider-next {
    height: fit-content;
    background-color: inherit;
    font-size: 30px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    top: 160px;
}

.slider-prev {
    left: 40px;
}

.slider-next {
    left: 670px;
}

.slider-prev::before {
    content: '<';
    margin-right: 144px;
}

.slider-next::before {
    content: '>';
    margin-left: 15px;
}

.description {
    position: relative;
    top: 350px;
    left: -120px; /* Adjust the left value to position it as desired */
}


.description h3 {
    display: none;

}

.further-description {
    position: relative;
    top: 350px;
    left: 100px;
}

.further-description h2 {
    text-transform: capitalize;
    display: none;
    font-size: 1.2rem;
    font-weight: 400;
    width: 55%;
    text-align: center;
    text-transform: none;
    
}

h2.active {
    display: block;
}

h3.active {
    display: block !important;
}

.item {
    flex: 1 0 20%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
}

.small1,
.small2 {
    height: 200px;
    position: absolute;
    z-index: -1;
    top: 70px;
}

.big1,
.big2 {
    height: 250px;
    position: absolute;
    z-index: 0;
    top: 40px;
}

.small1 {
    left: 90px;
}

.big1 {
    left: 170px;
}

.focus {
    position: absolute;
    z-index: 1;
    height: 300px;
    left: 270px;
    top: 10px;
}

.big2 {
    left: 400px;
}

.small2 {
    left: 520px;
}