.neon-light {
    background: url("https://i.pinimg.com/originals/74/43/a3/7443a31b6a19e5630b94a6538ff9bdd1.gif") center/cover no-repeat;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8),
                0 0 20px rgba(0, 255, 255, 0.6),
                0 0 30px rgba(0, 255, 255, 0.4),
                0 0 40px rgba(0, 255, 255, 0.2),
                0 0 70px rgba(0, 255, 255, 0.1),
                0 0 80px rgba(0, 255, 255, 0.05);
  }
  
  .neon-light h2 {
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8),
                 0 0 20px rgba(0, 255, 255, 0.6),
                 0 0 30px rgba(0, 255, 255, 0.4),
                 0 0 40px rgba(0, 255, 255, 0.2),
                 0 0 70px rgba(0, 255, 255, 0.1),
                 0 0 80px rgba(0, 255, 255, 0.05);
  }
  