@import url('https://fonts.googleapis.com/css?family=Fascinate');

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100%;
  font-family: 'Fascinate', cursive;
  background: #6A9C92;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 4rem;
}

body span {
  margin: -2rem 0;
  color: #F74545;
  align-self: center;
  font-size: 34rem;
  letter-spacing: -1rem;
  transition: font-size 0.3s ease;
  text-shadow: 0px 0px 0 #FFAC78,
    -1px 1px 0 #FFAC78,
    -2px 2px 0 #FFAC78,
    -3px 3px 0 #FFAC78,
    -4px 4px 0 #FFAC78,
    -5px 5px 0 #FFAC78,
    -6px 6px 0 #FFAC78,
    -7px 7px 0 #FFE2A8,
    -8px 8px 0 #FFE2A8,
    -9px 9px 0 #FFE2A8,
    -10px 10px 0 #FFE2A8,
    -11px 11px 0 #FFE2A8,
    -12px 12px 0 #FFE2A8,
    -13px 13px 0 #FFE2A8,
    -14px 14px 0 #FFE2A8,
    -15px 15px 0 #FFE2A8,
    -16px 16px 0 #FFE2A8,
    -17px 17px 0 hsla(0, 0%, 0%, 0.19),
    0 6px 1px hsla(0, 0%, 0%, 0.1),
    0 0 5px hsla(0, 0%, 0%, 0.2),
    0 1px 3px hsla(0, 0%, 0%, 0.25),
    0 3px 5px hsla(0, 0%, 0%, 0.28),
    0 5px 10px hsla(0, 0%, 0%, 0.35),
    0 10px 15px hsla(0, 0%, 0%, 0.4),
    0 20px 20px hsla(0, 0%, 0%, 0.45);
}

body span.one {
  transform: rotate(-26deg);
}

body span.two {
  color: #423845;
  font-size: 36rem;
}

body span.mid {
  color: #423845;
  font-size: 6rem;
  margin-left: -7rem;
  margin-top: 16rem;
  z-index: 3;
  letter-spacing: -6px;
}

body span.three {
  transform: rotate(26deg);
  margin-left: -5rem;
  margin-top: -8rem;
}

@media (min-width: 40.6875em) and (max-width: 51.875em) {
  body span {
    font-size: 28rem;
  }
  body span.two,
  body span.three {
    font-size: 30rem;
  }
}

@media (min-width: 30.0625em) and (max-width: 40.625em) {
  body span {
    font-size: 22rem;
  }
  body span.two,
  body span.three {
    font-size: 24rem;
  }
}

@media (max-width: 30.0em) {
  body span {
    align-self: center;
    font-size: 18rem;
  }
  body span.two {
    font-size: 20rem;
  }
  body span.mid {
    margin-top: 11rem;
    margin-left: -5rem;
  }
  body span.three {
    margin-left: -7rem;
  }
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }